# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartotle', 'Metapod'],
    'hp' : [45, 39, 44, 45],
    'name' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex' : ['yes', 'no', 'yes', 'no'],
    'type' : ['grass', 'fire', 'water', 'bug']
}

### Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2    Wartotle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon = pokemon.loc[:, ['name', 'type', 'hp', 'evolution', 'pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [12]:
pokemon.insert(5, 'place', ['Islamabad', 'Karachi', 'Lahore', 'Peshawar'])

ValueError: cannot insert place, already exists

In [13]:
pokemon

         name   type  hp   evolution pokedex      place
0   Bulbasaur  grass  45     Ivysaur     yes  Islamabad
1  Charmander   fire  39  Charmeleon      no    Karachi
2    Squirtle  water  44    Wartotle     yes     Lahore
3    Caterpie    bug  45     Metapod      no   Peshawar

### Step 6. Present the type of each column

In [21]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.